---
import { readItems, readSingleton } from "@directus/sdk";
import Layout from "../layouts/Layout.astro";
import Event from "../components/Event.astro";
import { client } from "../lib/directus";

const globalMetadata = await client.request(readSingleton("globalMetadata"));
---

<Layout title={globalMetadata.title} description={globalMetadata.description}>
  <main>
    <Event />
  </main>
</Layout>
